ScrollPane {
    -fx-fit-to-width: true;
    -fx-fit-to-height: true;
}

.menu-bar {
    -fx-background-color: #f5f5f5;
}

.text-area {
    -fx-font: 14px "Consolas";
    -fx-control-inner-background: #f5f5f5;
}

.text-area:focused {
    -fx-focus-color: #bababa;
    -fx-faint-focus-color: transparent;
}
