.root {
    -fx-base: #f5f5f5;
    -fx-accent: #afe0f6;

    -fx-focus-color: #3b88f5;
    -fx-faint-focus-color: #5a99ea;

    -fx-default-button: white;
}

/* Text Areas */

FormatArea, .text-area .content {
    -fx-background-color: white;
}

FormatArea .text, .text-area {
    -fx-fill: #222222;
}

FormatArea .caret {
    -fx-stroke: black;
}

/* Text Line Numbers */

.lineno, .lineno-rect {
    -fx-fill: -fx-base;
    -fx-background-color: -fx-base;
    -fx-text-fill: #474747;
}

/* Dialogs */

.dialog-pane {
    -fx-background-color: -fx-base;
}

.dialog-pane .text-area .content {
    -fx-background-color: white;
    -fx-text-fill: black;
}

/* Menus */

.menu-bar {
    -fx-background-color: -fx-base;
    -fx-border-color: #e0e0e0;
}

.menu-bar .menu, .menu-bar .menu-item, .menu-bar .menu-button {
    -fx-background-color: -fx-base;
}

.menu-bar .menu:hover, .menu-bar .menu-item:hover, .menu-bar .menu-button:hover {
    -fx-background-color: #4fc6f3;
}

/* Combo Boxes */

.combo-box .list-view .list-cell {
    -fx-background-color: #f5f5f5;
    -fx-text-fill: black;
}

.combo-box .list-view .list-cell:hover {
    -fx-background-color: #4fc6f3;
}

/* Scrolling */

.scroll-bar .thumb {
    -fx-border-radius: .05em;
    -fx-background-color: -fx-base;
    -fx-border-style: solid;
    -fx-border-color: lightgray;
}

.scroll-bar .thumb:hover, .scroll-bar .thumb:pressed {
    -fx-background-color: white;
}

.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
}
